In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import time

# NASA Mars News

In [2]:
# Create url variable for later use
url = 'https://mars.nasa.gov/news/'

In [3]:
# Get response from url
response = requests.get(url)

# Create Beautiful Soup object
soup = bs(response.text, 'html.parser')

In [4]:
# Retrieve all of the titles on the web page
titles = soup.find_all('div', class_="content_title")

In [8]:
# Write first title to news_title variable
news_title = titles[0].text.strip()
    
# Show titles
print(news_title)

NASA's InSight Places First Instrument on Mars

In [9]:
# Find all paragraphs on web page
paragraphs = soup.find_all('div', class_="rollover_description_inner")

# Add first paragraph to news_p variable
news_p = paragraphs[0].text.strip()

# Show paragraph
print(news_p)

In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

# JPL Mars Space Images - Featured Image

In [407]:
# Locate chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [408]:
# Create executable path for future use
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

# Open browser using executable path and chrome browser display everything thats going on
browser = Browser('chrome', **executable_path, headless=False)

In [409]:
# Create url variable for the browser to visit
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Visit url
browser.visit(url2)

In [410]:
# Click link that says full image
browser.click_link_by_partial_text('FULL IMAGE')

In [411]:
# Sleep for two seconds to allow for page to load
time.sleep(2)

# Click link that says more info
browser.click_link_by_partial_text('more info')

In [412]:
# Click link to full image alone
browser.click_link_by_partial_href('//photojournal.jpl.nasa.gov/jpeg/')

In [413]:
# Save url of full image to variable
featured_image_url = browser.url

In [414]:
# Print url of full sized image
print(featured_image_url)

https://photojournal.jpl.nasa.gov/jpeg/PIA13664.jpg

# Mars Weather

In [415]:
# Create url variable for future use
url3 = 'https://twitter.com/marswxreport?lang=en'

# Get response from url
response = requests.get(url3)

# Create Beautiful Soup object
soup = bs(response.text, 'html.parser')

In [416]:
# Save first tweet to variable
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text.strip()

In [417]:
# Print variable
print(mars_weather)

Sol 2271 (2018-12-26), high -7C/19F, low -70C/-93F, pressure at 8.31 hPa, daylight 06:41-18:54

# Mars Facts

In [418]:
# Create url variable for future use
url4 = 'https://space-facts.com/mars/'

# Read all tables on page
tables = pd.read_html(url4)

# Display tables
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [419]:
# Convert to pandas dataframe
df = tables[0]

# Rename columns of dataframe
df.columns = ['Description', 'Value']

# Set index to Description column
df = df.set_index('Description')

In [420]:
# Display dataframe
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [421]:
# Create variable with html table
html_table = df.to_html()

# Save to file
df.to_html('table.html')

# Mars Hemispheres

In [422]:
# Create url variable for the browser to visit
url5 = 'http://web.archive.org/web/20181114171728/https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

# Visit url
browser.visit(url5)

In [423]:
# Create variable for later action containing html text
html = browser.html

# Create beautiful soup object
soup = bs(html, 'html.parser')

In [424]:
# Create list for future use
hemisphere_image_urls = []

# Find all titles with class H3
hemispheres = soup.find_all('h3')

In [425]:
# Append all titles and urls to dictionary
for hemi in hemispheres:
    browser.click_link_by_partial_text(hemi.text)
    
    # Click link with Sample as text
    browser.click_link_by_text('Sample')
    
    # Append image_url with browser window url
    hemisphere_image_urls.append({'title': hemi.text, 'image_url': browser.windows[1].url})
    
    # Close opened tab
    browser.windows[1].close()
    
    # Go back to the previous page
    browser.back()

# View list
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'http://web.archive.org/web/20181114182327/https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'http://web.archive.org/web/20181114182347/https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'http://web.archive.org/web/20181114182425/https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'http://web.archive.org/web/20181114182431/https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [426]:
# Close open instance of browser
browser.quit()