In [100]:
import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
import requests
import os

# NASA Mars News

In [101]:
# Create url variable for later use
url = 'https://mars.nasa.gov/news/'

In [102]:
# Get response from url
response = requests.get(url)

# Create Beautiful Soup object
soup = bs(response.text, 'html.parser')

In [103]:
# Retrieve all of the titles on the web page
titles = soup.find_all('div', class_="content_title")

In [104]:
# Create list variable to store titles
news_title = []

# Loop over titles and append them to a list
for title in titles:
    news_title.append(title.find('a').text.strip())
    
# Show titles
for title in news_title:
    print(title)

NASA's InSight Places First Instrument on Mars
NASA Announces Landing Site for Mars 2020 Rover
Opportunity Hunkers Down During Dust Storm
NASA Finds Ancient Organic Material, Mysterious Methane on Mars
NASA Invests in Visionary Technology
NASA is Ready to Study the Heart of Mars

In [105]:
# Find all paragraphs on web page
paragraphs = soup.find_all('div', class_="rollover_description_inner")

# Create list to store all paragraph items
news_p = []

# Loop over paragraphs and append to list
for paragraph in paragraphs:
    news_p.append(paragraph.text.strip())
    
# Display paragraphs
for par in news_p:
    print(par)

In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.
After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.
It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.
NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.
NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.
NASA is about to go on a journey to study the center of Mars.

# JPL Mars Space Images - Featured Image

In [106]:
# Locate chromedriver
!which chromedriver

/usr/local/bin/chromedriver

In [107]:
# Create executable path for future use
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

# Open browser using executable path and chrome browser display everything thats going on
browser = Browser('chrome', **executable_path, headless=False)

In [108]:
# Create url variable for the browser to visit
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

# Visit url
browser.visit(url2)

In [109]:
# Click link that says full image
browser.click_link_by_partial_text('FULL IMAGE')

In [110]:
# Click link that says more info
browser.click_link_by_partial_text('more info')

In [111]:
# Click link to full image alone
browser.click_link_by_partial_href('//photojournal.jpl.nasa.gov/jpeg/')

In [112]:
# Save url of full image to variable
featured_image_url = browser.url

In [113]:
# Print url of full sized image
print(featured_image_url)

https://photojournal.jpl.nasa.gov/jpeg/PIA15253.jpg

# Mars Weather

In [114]:
# Create url variable for future use
url3 = 'https://twitter.com/marswxreport?lang=en'

# Get response from url
response = requests.get(url3)

# Create Beautiful Soup object
soup = bs(response.text, 'html.parser')

In [115]:
# Save first tweet to variable
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text.strip()

In [116]:
# Print variable
print(mars_weather)

Sol 2270 (2018-12-25), high -5C/23F, low -75C/-102F, pressure at 8.35 hPa, daylight 06:41-18:53

# Mars Facts

In [118]:
# Create url variable for future use
url4 = 'https://space-facts.com/mars/'

# Read all tables on page
tables = pd.read_html(url4)

# Display tables
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [119]:
# Convert to pandas dataframe
df = tables[0]

In [120]:
# Display dataframe
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [123]:
# Create variable with html table
html_table = df.to_html()
html_table

# Save to file
df.to_html('table.html')

# Mars Hemispheres